*{
    margin: 0;
    padding: 0;
    
}
header{
    width: 95%;
    margin: auto;
    margin-top: 50px;
}
.logo{
    width: 20%;
    float: left;
}
.menu{
    width: 50%;
    float: right;
}
.menu ul{
    list-style: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    color:#626262;
    text-decoration: none;
    margin-left: 70px;
    font-size: 18px;
    text-transform:uppercase;
}
.banner{
    width: 95%;
    margin: auto;
    margin-top: 30px;
}
.banner img{
width: 100%;
}
.content{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.content span{
    font-size: 15px;
    color: #b4ad9e;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
}
.content h1{
    color: #626262;
    font-size: 40px;
    margin-bottom:25px ;
}
.content p{
    color: #626262;
    line-height: 1.4;
    margin-bottom: 15px;
}

}
.content{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.item_1{
width: 45%;
float: left;
}

}
.item_2{
    width: 45%;
    float: right;
}